* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--color-nord-bg);
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Space Mono', monospace;
  color: var(--color-nord-white);
}

.container {
  display: flex;
}

//////////////////////////////////////////////
////////// STYLING THE NAVBAR
#navbar {
  flex: 0 0 15%;
  border-right: 4px solid var( --color-nord-light-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & a {
    color: var(--color-nord-white);
    text-decoration: none;
  }
}

#header {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-nord-white);
  padding: 2rem;
  border-bottom: 1px solid var( --color-nord-light-black);
  text-align: center;
  
  & a:hover {
    color: var(--color-nord-light-blue);
  }
}

.navbar-links {
  display: flex;
  flex-direction: column;
}

.nav-link {
  width: 100%;
  text-decoration: none;
  color: var(--color-nord-white);
  border-bottom: 1px solid var( --color-nord-light-black);
  padding: 2rem 3rem;
  transition: all .2s;

  &:hover {
    background-color: var(--color-nord-light-blue);
    color: var(--color-nord-bg);
  }
}

//////////////////////////////////////////////
////////// STYLING THE MAIN SECTION

#main-doc {
  // margin: 4.5rem 0 4.5rem 4.5rem;
  padding: 4.5rem 0 4.5rem 4.5rem;
  flex: 1;
  overflow-y: scroll;
  height: 100vh;

  &::-webkit-scrollbar {
    width: .3rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-nord-light-black);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-nord-frost-blue);
    border-radius: 100px;
  }

  & section:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

.main-section {
  margin-right: 12rem;

  &__header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__paragraph {
    margin: 0 0 1.6rem 2rem;
  }

  &__code-text {
    margin-bottom: 0;
  }

  &__list {
    margin-left: 4rem;

    &__item:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

}

.main-section p:last-child {
    margin-bottom: 0rem;
  }

.main-section ul:last-child {
    margin-bottom: 0rem;
  }


//////////////////////////////////////////////
////////// STYLING CODE BLOCKS

pre code {
  background-color: var( --color-nord-light-black);
  border: 1px solid var(--color-nord-white);
  color: var(--color-nord-green);
  display: block;
  padding: 1.75rem;
  margin-left: 3.5rem;
}


//////////////////////////////////////////////
////////// STYLING THE RESPONSIVE HAMBURGER MENU
.toggle-button {
  position: absolute;
  top: 2.95rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;

  &__bar {
    height: 2px;
    width: 100%;
    background-color: var(--color-nord-white);
    border-radius: 10px;
  }

}

//////////////////////////////////////////////
////////// STYLING THE GO TO TOP BUTTON (with some help from w3schools) 
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2rem; /* Place the button at the bottom of the page */
  right: 3rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color-nord-dark-blue); /* Set a background color */
  color: var(--color-nord-white); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.5rem; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.6rem; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--color-nord-light-blue); /* Add a dark-grey background on hover */
}

//////////////////////////////////////////////
////////// MEDIA QUERIES 
 @media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  #main-doc {
    padding-top: 0;
  }

  #navbar {
    flex-direction: column;
    // position: sticky;
    // top: 0;
    background-color: var(--color-nord-bg);
    min-height: auto;
  }

  #header {
    border-bottom: none;
    margin-right: auto;
  }

  .toggle-button {
    display: flex;
    margin-right: 2rem;
  }

  .navbar-links {
    display: none;
    text-align: center;
    padding: 1rem 0;

    &:first-child {
      padding-top: 0;
    }
  }

  .navbar-links.active {
    display: flex;
  }

  div.navbar-links.active {
    padding: 0;
  }

  pre code {
    padding: 0;
    overflow: scroll;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 1.4rem;
  }

  #header {
    font-size: 2.1rem;
  }

  #main-doc {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  .main-section {
    margin-right: 0;

    &__header {
      font-size: 1.9rem;
      margin-bottom: 1rem;
    }

    &__paragraph {
      margin: 0 0 2.5rem 0;
    }

    &__list {
    list-style-position: outside;
    margin-left: 2rem;

      &__item:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  pre code {
  margin-left: 0;
  }
}