:root {
  --color-nord-light-black: #4c566a;

  --color-nord-bg: #2e3440;
  --color-nord-white: #d8dee9;
  --color-nord-dark-blue: #5e81ac;
  --color-nord-light-blue: #81a1c1;
  --color-nord-frost-blue: #88c0d0;
}